* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    text-align: center;
    background-color: rgba(235, 201, 229, 0.938);
}

header {
    background-color: rgb(205, 48, 226);
    padding: 2% 36% 20% 36%;
    width: 100%;
    font-size: 100%;
    position: absolute;
    overflow: auto;
}

h1 {
    font-variant: small-caps;
    text-align: center;
    background-color: rgb(205, 48, 226);
}

section {
    display: flexbox;
    position: absolute;
    margin: 30% 5% 15% 5%;
    padding-top: 2%;
}

#description {
    padding: 1%;
    font-weight: bolder;
    font-size: 120%;
    font-variant: small-caps;
}

form {
    text-align: center;
    padding: 3%;
    width: 90%;
    margin-bottom: 5%;
    background: transparent;
    height: auto;
    background-color: white;
    border: 1px solid rgb(143, 141, 141);
    box-shadow: 2px 2px 10px rgb(228, 180, 213), -2px -2px 10px rgb(228, 180, 213);
}

label {
    padding: 1%;
    margin: 1%;
    font-weight: bolder;
}

input,
select {
    padding: 1%;
    margin: 2%;
}

input[type=text],
input[type=email],
input[type=number],
select {
    width: 40%;
}

.rate {
    color: rgb(110, 102, 102);
    font-weight: bolder;
}

#rate {
    font-variant: small-caps;
    font-size: 145%;
}

button {
    padding: 1%;
    margin: 2%;
    font-size: 100%;
    border: none;
    background-color: rgb(90, 191, 231);
}

@media print {
    body {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    section {
        margin: 6% 7% 15% 7%;
        width: 90%;
    }
    header {
        font-size: 150%;
        padding: 2% 3% 10% 3%;
    }
    #description {
        font-size: 200%;
    }
}